/* Header Styling */
.header {
    background-color: #FF8000;
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-between;
}

.large-logo {
    width: 180px; /* Adjust size as needed */
    height: auto;
}

/* Calculator Container */
.calculator-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: auto;
}

/* Input Box */
.input-box {
    width: 100%;
    padding: 10px;
    border: 2px solid #000;
    border-radius: 5px;
    margin-bottom: 10px;
}

/* Checkbox Styling */
label {
    display: block;
    margin-bottom: 10px;
}

/* Calculate Button */
.calculate-button {
    background-color: #FF8000;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

.calculate-button:hover {
    background-color: #cc6600;
}

/* Calculation Box */
.calculatio
